.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# sub application files
sub-app

# cordova assets file
HybridWrapper/www/
HybridWrapper/platforms/android/app/src/main/assets/www/
HybridWrapper/platforms/ios/www/

HybridWrapper/platforms/android/.gradle
HybridWrapper/platforms/android/.idea
HybridWrapper/platforms/android/build
HybridWrapper/platforms/android/android.iml
HybridWrapper/platforms/android/local.properties
HybridWrapper/platforms/android/CordovaLib/
HybridWrapper/platforms/android/app/app.iml
HybridWrapper/platforms/android/app/build/

HybridWrapper/platforms/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/
HybridWrapper/platforms/ios/SC.xcworkspace/xcshareddata/
HybridWrapper/platforms/ios/SC.xcworkspace/xcuserdata/
